{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
  {%- assign sold_out = false -%}
{%- endif -%}

{%- assign new_product = false -%}
{%- assign published_date = product.published_at | date: "%s"  -%}
{%- assign now_date = 'now' | date: "%s" -%}
{%- assign age_in_days = now_date | minus: published_date | divided_by: 60 | divided_by: 60 | divided_by: 12 -%}
{%- if age_in_days < settings.tag_new_limit -%}
  {%- assign new_product = true -%}
{%- endif -%}

{%- assign sellout_tag = false -%}
{%- if sold_out and settings.tag_sellout -%}
  {%- assign sellout_tag = true -%}
{%- endif -%}

{%- assign new_tag = false -%}
{%- if new_product and settings.tag_new -%}
  {%- assign new_tag = true -%}
{%- endif -%}

{%- assign sale_tag = false -%}
{%- if on_sale and settings.tag_sale -%}
  {%- assign sale_tag = true -%}
{%- endif -%}

{%- assign tagged = false -%}
{%- if sellout_tag or new_tag or sale_tag -%}
  {%- assign tagged = true -%}
{%- endif -%}

{%- capture sticker -%}
  {%- if tagged %}
    {%- if sellout_tag -%}
      <div class="sticker sticker--sold">{{ 'products.product.sold_out' | t }}</div>
    {%- elsif sale_tag -%}
      <div class="sticker sticker--sale">{{ 'products.product.sale' | t }}</div>
    {%- elsif new_tag -%}
      <div class="sticker sticker--new">{{ 'products.product.new' | t }}</div>
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}

    {% unless sold_out %}
  <form action="/cart/add" method="post" enctype="multipart/form-data" id="product-form-{{ product.id }}" class="product-form">
    <div class="add-to-cart__wrapper" style="margin-top:0px; margin-bottom: 10px;">
      <button type="submit" name="add" class="btn btn--splash uppercase addToCart">
        <span id="AddToCartText">Buy Now</span>
      </button>
    </div>
  <a href="{{ product.url | within: collection | capitalize }}">
        <p class="h6 name_wrapper">
        {{ product.title }}
    </p></a>
     
    {% if product.variants.size == 1 %}
    	<input type="hidden" id="variant-select" name="id" value="{{ product.variants.first.id }}" />
    {% else %}
    <div class="selector-wrapper">
      <select name="id" id="productSelect" class="product-single__variants btn--full uppercase">
        {% for variant in product.variants %}
          {% if variant.available %}
            	<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
            {% else %}
              <option disabled="disabled">
                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
              </option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    {% endif %}
  </form>  
    {% endunless %}
    
    <a href="{{ product.url | within: collection | capitalize }}">
        {% if product.metafields.spr.reviews %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
    </a>
