<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">

  <a class="grid-view-item__link grid-view-item__image-container" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless product.featured_image == blank %}
  {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
    <div style="padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
      <img id="{{ img_id }}"
           class="grid-view-item__image lazyload"
           src="{{ product.featured_image | img_url: '300x300' }}"
           data-src="{{ img_url }}"
           data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
           data-aspectratio="{{ product.featured_image.aspect_ratio }}"
           data-sizes="auto"
           alt="{{ product.featured_image.alt }}">
    </div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
  </noscript>

  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>

  {% include 'product-price', variant: product %}

  <div>
    {% capture "form_classes" -%}
    product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %} product-form--payment-button-no-variants
    {%- endcapture %}
    {% form 'product', product, class:form_classes, novalidate: 'novalidate' %}
    <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
      {% for variant in product.variants %}
      {% if variant.available %}
      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
        {{ variant.title }}
      </option>
      {% else %}
      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
      {% endif %}
      {% endfor %}
    </select>
    <div class="product-form__item product-form__item--submit product-form__item--payment-button product-form__item--no-variants">
      <div class="wrap-cart-buttons">
        <div class="wrap-cart-buttons--quantity">
          <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="Quantity-{{ product.id }}" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
        </div>
        <button type="submit" name="add" id="AddToCart-{{ product.id }}" class="btn btn--secondary-accent">
          <span id="AddToCartText-{{ product.id }}">Add</span>
        </button>
      </div>
      {{ form | payment_button }}
    </div>
    {% endform %}
  </div>

</div>

<style>
  .shopify-payment-button__button--hidden { visibility: visible; }
  a.grid-view-item__link { position: static; }
</style>